* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#library {
  padding: 20px;
}

.top-library {
  background: rgb(242, 242, 242);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
}
.all_books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.book_item {
  box-sizing: border-box;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.book_content {
  padding: 20px;
  margin: 10px;
  height: 100%;
  box-sizing: border-box;
}
.btn {
  margin: 10px 10px 10px 0;
  width: 100%;
}
.form-style {
  padding: 20px;
  box-sizing: border-box;
  // background: rgb(255, 255, 255);
  // border: 1px solid #222;
  margin: 20px 0;
  h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    // display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: rgb(84, 165, 91);
  }
  .h2-second {
    background: rgb(72, 85, 173);
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .form-button {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: auto;
      }
    }
  }
  input {
    border: 1px solid rgba(34, 34, 34, 0.4);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin: 10px;
  }
}
// .book_item button {
//   background: #fff;
//   padding: 10px;
//   box-sizing: border-box;
//   margin-right: 5px;
//   border: 1px solid #222;
//   cursor: pointer;
// }
.book_title {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
}

.book_img {
  max-height: 250px;
  width: auto;
  height: 250px;
  object-fit: contain;
}
#editForm {
  padding: 20px;
  box-sizing: border-box;
  border: none;
  button {
    width: 100%;
  }
}
.edit-popup {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  // z-index: 100;
  // width: 100%;
  // height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-content {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  min-height: 150px;
  h2 {
    font-size: 18px;
  }
}
.edit-content input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(34, 34, 34, 0.4);
  margin: 10px 0;
}

.comments_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comments_field {
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
  h3 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }
}
.comment-item {
  background: #f2f6f9;
  padding: 10px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  max-width: 400px;
  width: 100%;
  p {
    margin-bottom: 5px;
  }
}
.comment-name {
  font-size: 16px;
  font-weight: bold;
}
.comments-book-form {
  max-width: 400px;
}
.comments-book-form input,
.comments-book-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0;
  max-width: 400px;
  border: 1px solid rgba(34, 34, 34, 0.4);
}
.comments-book-form button {
  width: 100%;
}
